
@model PagedList.IPagedList<DisplayTaskViewModel>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Задача </th>
        <th>Срок выполнения <i class="fa fa-sort"></i></th>
        <th>Статус <i class="fa fa-sort"></i></th>
        <th>Исполнитель <i class="fa fa-sort"></i></th>
        <th>Комментарий </th>
        <th>Опции </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.TaskId</td>
            <td><a asp-action="TaskDetails">@task.TaskTitle</a></td>
            <td>
                @if (User.IsInRole("Заказчик"))
                {
                
                }
                @task.Deadline
            </td>
            <td>@Html.DropDownListFor(x => @task.StatusList,
                                    new SelectList(@task.StatusList, "StatusId", "StatusName"),  new { @class = "form-control col-auto" })</td>
            <td>@Html.DropDownListFor(x => @task.Executors,
                                                    new SelectList(@task.Executors, "Id", "ExecutorName"),  new { @class = "form-control col-auto" })</td>
            <td>@task.Comment</td>
            <td>
                <a asp-action="TaskDetails" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                @if (User.IsInRole("Исполнитель"))
                {
                    <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="gg-check"></i></a>
                    <a href="#" class="delete" title="Complete" data-toggle="tooltip"><i class="gg-check"></i></a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () 
        {
            // Flatpickr
            $('#Deadline').flatpickr({ dateFormat: 'd/m/Y', maxDate: "today" })
        });
    </script>
}